
li {
  float: left;
}

li {
  display: inline;
  color: rgb(186, 32, 32);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li {
  background-color: #22a55f;
}